.book {
  display: flex;
  align-items: center;
  text-align: center;
}

.book__item {
  margin: 0 auto;
}

.book__body {
  text-align: center;
}

.book__edit {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .book {
    min-height: 375px;
  }
}
